<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bluetoothchat.btchat">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_namee"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.bluetoothchat.btc.About"></activity>
        <activity android:name="com.bluetoothchat.btc.RegisterActivity" />
        <activity android:name="com.bluetoothchat.btc.MainActivity" />
        <activity android:name="com.bluetoothchat.btc.LoginActivity" />
        <activity android:name="com.bluetoothchat.btc.ConnectedActivity" />
        <activity android:name="com.bluetoothchat.btc.BondedDevicesActivity" />
        <activity android:name="com.bluetoothchat.btc.ConnectableDevicesActivity" />
        <activity
            android:name="com.bluetoothchat.btc.Comunication"
            android:screenOrientation="portrait" />
        <activity android:name="com.bluetoothchat.btc.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>